html, body,.cover {
    height: 100%;
}
.cover {
    background: url('images/books.jpg') top left no-repeat; 
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0;
    box-shadow: inset 0 0 100px #000;
}
.cover-text h1 {
	padding-top: 20px;
	text-align: center;
	font-size: 50px;
	font-family: 'Georgia, Times, serif';
	letter-spacing: -3px;
	color: #888;
}
nav.navbar-default {
	margin-bottom: 0;
	background: #A59DAB;
	/*background: rgba(0, 0, 0, 0.5);   */
    border: none;
}
.navbar-default .navbar-nav {
	
    max-width: 100%;
	
}