$navbar-default-bg: #A59DAB;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size:1.7em;
  color: #888;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
.cover {
    background: url('books.jpg') top left no-repeat; 
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0;
    box-shadow: inset 0 0 100px #000;
}

html, body,.cover {
    height: 100%;
}
.navbar-default {
  margin-bottom: 0;
}
.cover, text {
  text-align: center;
  color: #888;
  padding-top: 30px;
}
.btn, .btn-default {
  background: #9faaa1;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
.article-actions {
  border-top: 1px solid #A59DAB;
  padding-top: 5px;
}
.description {
  margin-top: 0;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #A59DAB;
  padding-top: 15px;
  padding-bottom: 15px;
}
.listing {
  list-style: none;
  padding-left: 0;
}
.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.input_checkbox input {
  width: auto !important;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}
.center {
  text-align: center;
}
