<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://shownola.net">Shownola</a>
      by <a href="http://shownola.net">Sherry W.</a>
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    
  </footer>
</div>